<!DOCTYPE html>
<html lang="id-ID">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page-title %}Delivery Online{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    {# <link rel="stylesheet" href="/assets/css/site.css"> #}
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/ace.min.css">
    <link rel="stylesheet" href="/assets/fonts/open-sans.woff2"/>
</head>

<body>
<div id="navbar" class="navbar navbar-default">
    <nav id="w0" class="navbar-inverse navbar-fixed-top navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w0-collapse"><span
                        class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span></button>
                <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-rocket"></i> Delivery Online</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav ace-nav navbar-right">
                    <li class="active">
                        <a href="{% url 'beers_all' %}"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
                    <li class="dropdown grey">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-fw fa-sitemap">
                        </i> Projects <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'beers_all' %}"><i class="fa fa-fw fa-beer"></i> Beers App</a>
                            </li>
                            <li>
                                <a href="/servers" tabindex="-1"><i class="fa fa-fw fa-cloud"></i> Servers</a>
                            </li>
                        </ul>
                    </li>
                    <li class="purple"><a class="" href="#"><i class="fa fa-fw fa-info-circle"></i> About</a></li>
                    <li class="blue"><a class="" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a></li>
                    {% if user.is_authenticated %}
                    {# shoping chart #}
                    <li class="red" id="chart-nav">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-shopping-cart"></i>
                            <span class="badge badge-success chart-count">
                                <!-- ajax call soon -->
                            </span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar navbar-primary dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                <span class="chart-count">
                                    <!-- ajax call soon -->
                                </span> Order
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar" id="chart-items">
                                    <!-- ajax call soon -->
                                </ul>
                            </li>

                            <li class="dropdown-footer" id="chart-all-items" style="display: none">
                                <a href="{% url 'order_show' %}">
                                    See all items
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                 </a>
                            </li>
                        </ul>
                    </li>
                    {# !shoping chart #}
                    <li class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                8 Notifications
                            </li>

                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                    New Comments
                                                </span>
                                                <span class="pull-right badge badge-info">+12</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="btn btn-xs btn-primary fa fa-user"></i>
                                            Bob just signed up as an editor ...
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                                    New Orders
                                                </span>
                                                <span class="pull-right badge badge-success">+8</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                                    Followers
                                                </span>
                                                <span class="pull-right badge badge-info">+11</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown-footer">
                                <a href="#">
                                    See all notifications
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                 </a>
                            </li>
                        </ul>
                    </li>

                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="/assets/images/avatar/lenin.jpg" alt="Lenini's" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                {# precision width for drinker's name #}
                                {% if user.drinker.name|length < 12 %}
                                    {{ user.drinker.name|default:"User" }}
                                {% else %}
                                    <small>{{ user.drinker.name|default:"User" }}</small>
                                {% endif %}
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="{% url 'drinker_setting' %}">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Settings
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'drinker_profile' %}">
                                    <i class="ace-icon fa fa-user"></i>
                                    Profile
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="{% url 'drinker_logout' %}">
                                    <i class="ace-icon fa fa-power-off"></i>
                                   Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                        <li class="light-blue">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="fa fa-fw fa-unlock"></i> Login
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'drinker_login' %}"><i class="fa fa-fw fa-unlock"></i> login</a></li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#login"><i class="fa fa-fw fa-unlock"></i> Modal</a>
                                </li>
                                <li><a href="{% url 'drinker_register' %}"><i class="fa fa-fw fa-plus-square"></i> Register</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="main-content">
    <div class="main-container" id="main-container">
        <div id="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    {% block breadcrumb %}
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="active dropdown">
                        <a href="{% url 'beers_all' %}">
                            <i class="fa fa-fw fa-beer"></i> Beer
                        </a>
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown"><b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'brewerys_all' %}"><i class="fa fa-fw fa-beer"></i> Brewery</a>
                            </li>
                        </ul>
                    </li>
                    {% endblock %}
                </ul>
                <!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input"
                                       id="nav-search-input" autocomplete="off"/>
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                    </form>
                </div>
                <!-- /.nav-search -->
            </div>

            <div class="col-xs-12" style="min-height:480px">
                <div class="page-header">
                    <h1>{% block page-header %}Beers{% endblock %}</h1>
                </div>
                <!-- /.page-header -->

                {% block content %}
                {# content goes here #}
                {% endblock %}

            </div>
        </div>
    </div>
</div>
<div class="hr hr-18 hr-double dotted"></div>
</body>

{% block login-modal %}
{# modal goes here #}
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'drinker_login' %}" method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                    <p>Please correct the following field:</p>
                    {% endif %}

                    <div class="register_div">
                        {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
                        <p><label for="username">Username:</label></p>

                        <p> {{ form.username }}</p>
                    </div>
                    <div class="register_div">
                        {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
                        <p><label for="password">Password:</label></p>

                        <p> {{ form.password }}</p>
                    </div>
                    <div class="input">
                        <p>
                            <input class="btn btn-success" type="submit" value="Login" alt="login">
                            <a href="{% url 'drinker_register' %}" class="btn btn-warning">Sign Up</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra-modal %}
{# extra modal goes here #}
{# modal content based on trigger button #}
{% endblock %}

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

{# nav chart order fulfill #}
<script type="text/javascript">
    // unescape JSON string using |safe
    var order_list = {% if request.session.order %}{{ request.session.order|safe }}{% else %}[]{% endif %};
    // chart order instance node
    var nav_order = $('#chart-nav');
    // set order count
    nav_order.find('.chart-count').html(order_list.length)

    // if order list is not None
    if (order_list.length >= 1) {
        var content = '';

        $.each(order_list, function (index, item) {
            content += '' +
            '<li>' +
                '<a href="#">' +
                    '<div class="clearfix">' +
                        '<span class="pull-left">' +
                            '<i class="btn btn-xs no-hover btn-primary fa fa-beer"></i> ' +
                            item.beer_name +
                        '</span>' +
                        '<span class="pull-right badge badge-info" id="order-beer-qty-' + 
                            item.beer_id + '">' + item.beer_qty + 
                        '</span>' +
                        '<span class="order-beer-id" style="display: none">' + item.beer_id
                        '</span>' +
                    '</div>' +
                '</a>' +
            '</li>';
        });
        // show see all items
        nav_order.find('#chart-all-items').show();
        nav_order.find('#chart-items').append(content);
    }
</script>
{# !nav chart order fulfill #}

{% block extra-js %}
{# extra js goes here #}
{% endblock %}



<footer class="footer">
    <div class="container">
        <p class="pull-left">&copy; My Company 2015</p>

        <p class="pull-right">Powered by <a href="http://www.djangoproject.com/" target="_blank"
                                            rel="external">Django</a></p>
    </div>
</footer>
</html>
