{% extends "beer/base.html" %}

{% load locale_id %} {# load module that format price into rupiah format #}

{% block content %}
<div>
    <div class="grid-view">
        <div class="summary">Showing <b>1-{{ beers|length }}</b> of <b>{{ beers_count }}</b> items.</div>
        <table id="simple-table" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th width="30">#</th>
                <th><a href="#" data-sort="name">Beer Name</a></th>
                <th><a href="#" data-sort="name">Price</a></th>
                <th><a href="#" data-sort="status">Status</a></th>
                <th><a href="#" data-sort="status">Stock</a></th>
                {% if user.is_authenticated %}
                <th width="100">Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for beer in beers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/beers/{{ beer.slug }}">{{ beer }}</a></td>
                <td> {% format_rupiah beer.price %}</td>
                {% if beer.stock >= 20 %}
                <td><span class="label label-sm label-success arrowed">Available</span></td>
                {% elif beer.stock >= 1 %}
                <td><span class="label label-sm label-warning arrowed">Available</span></td>
                {% else %}
                <td><span class="label label-sm label-danger arrowed">Unavailable</span></td>
                {% endif %}
                <td>{{ beer.stock }}</td>
                {% if user.is_authenticated %}
                <td>
                    <div class="hidden-sm hidden-xs btn-group">

                        <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#preModal"
                                data-name="{{ beer.name }}" data-brewery="{{ beer.brewery }}"
                                data-slug="{{ beer.slug }}" data-locality="{{ beer.locality }}"
                                data-description="{{ beer.description }}"
                                {% if beer.foto %}
                                data-foto="/assets/images/beer/{{ beer.brewery.slug }}/{{ beer.foto }}"
                                {% else %}
                                data-foto="/assets/images/beer/beer-default.jpg"
                                {% endif %}
                                >
                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                        </button>

                        <a class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal">
                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                        </a>

                        <button class="btn btn-xs btn-danger">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </button>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <b>Sory no Beer are available.</b>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# test ace galerry #}
    <div class="row">
        <div class="col-xs-12">
            <div class="table-header">
                Results for "Latest Beer Products"
            </div>
            <!-- PAGE CONTENT BEGINS -->
            <div>
                <ul class="ace-thumbnails clearfix">
                    {% for beer in beers %}
                    <li>
                        <a href="#" data-toggle="modal" data-target="#preModal" data-beerid="{{ beer.id }}"
                                data-name="{{ beer.name }}" data-brewery="{{ beer.brewery }}"
                                data-slug="{{ beer.slug }}" data-locality="{{ beer.locality }}"
                                data-description="{{ beer.description }}" data-stock="{{ beer.stock }}"
                                {% if beer.foto %}
                                data-foto="/assets/images/beer/{{ beer.brewery.slug }}/{{ beer.foto }}"
                                {% else %}
                                data-foto="/assets/images/beer/beer-default.jpg"
                                {% endif %}>
                            {% if beer.foto %}
                            <img width="200px" height="200px" alt="{{ beer.name }}"
                                 src="/assets/images/beer/{{ beer.brewery.slug }}/{{ beer.foto }}"/>
                            {% else %}
                                <img width="200px" height="200px" alt="{{ beer.name }}"
                                 src="/assets/images/beer/beer-default.jpg"/>
                            {% endif %}
                        </a>

                        <div class="tags">
							<span class="label-holder">
								<span class="label label-info">{{ beer.name }}</span>
							</span>

							<span class="label-holder">
								<span class="label label-danger">{{ beer.get_locality_display }}</span>
							</span>

							<span class="label-holder">
								{% if beer.stock >= 20 %}
								<span class="label label-success">Stock: {{ beer.stock }}</span>
								{% elif beer.stock >= 1 %}
								<span class="label label-warning">Stock: {{ beer.stock }}</span>
								{% else %}
								<span class="label label-danger">Stock: {{ beer.stock }}</span>
								{% endif %}
							</span>

							<span class="label-holder">
								<span class="label label-inverse arrowed-in">{% format_rupiah beer.price %}</span>
							</span>
                        </div>

                        <div class="tools">
                            <a href="#" data-toggle="modal" data-target="#preModal" data-beerid="{{ beer.id }}"
                                data-name="{{ beer.name }}" data-brewery="{{ beer.brewery }}"
                                data-slug="{{ beer.slug }}" data-locality="{{ beer.locality }}"
                                data-description="{{ beer.description }}" data-stock="{{ beer.stock }}"
                                {% if beer.foto %}
                                data-foto="/assets/images/beer/{{ beer.brewery.slug }}/{{ beer.foto }}"
                                {% else %}
                                data-foto="/assets/images/beer/beer-default.jpg"
                                {% endif %}>
                                <i class="ace-icon fa
                                    {% if beer.stock >= 1 and user.is_authenticated %}
                                        fa-shopping-cart
                                    {% else %}
                                        fa-search-plus
                                    {% endif %}"></i>
                            </a>

                            {% if beer.stock >= 1 and user.is_authenticated %}
                            <a href="#">
                                <i class="ace-icon fa fa-pencil"></i>
                            </a>

                            <a href="#">
                                <i class="ace-icon fa fa-times red"></i>
                            </a>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {# end ace galerry #}

</div>


{# test data tables #}
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Test dataTables</h3>

        <div class="table-header">
            Results for "Latest Beers"
        </div>

        <!-- div.table-responsive -->

        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center" width="40">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>Beer Name</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Stock</th>
                    <th width="100"></th>
                </tr>
                </thead>

                <tbody>
                {% for beer in beers %}
                <tr>
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </td>

                    <td>
                        <a href="/beers/{{ beer.slug }}">{{ beer.name }}</a>
                    </td>
                    <td> {% format_rupiah beer.price %}</td>
                    {% if beer.stock >= 20 %}
                    <td><span class="label label-sm label-success arrowed">Available</span></td>
                    {% elif beer.stock >= 1 %}
                    <td><span class="label label-sm label-warning arrowed">Available</span></td>
                    {% else %}
                    <td><span class="label label-sm label-danger arrowed">Unavailable</span></td>
                    {% endif %}
                    <td> {{ beer.stock }}</td>
                    <td>
                        {# link functions just available for authenticated user #}
                        {% if user.is_authenticated %}
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a class="blue" href="#">
                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                            </a>

                            <a class="green" href="#">
                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                            </a>

                            <a class="red" href="#">
                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                            </a>
                        </div>

                        {# hiden dropdown tooltip for PDA views #}
                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown"
                                        data-position="auto">
                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
	                                            <span class="blue">
	                                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
	                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
	                                            <span class="green">
	                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
	                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
	                                            <span class="red">
	                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
	                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {# hiden tooltip #}

                        {% else %}
                        <div class="hidden-sm hidden-xs">
	                            <span class="inverse">
	                                <i class="ace-icon fa fa-pencil bigger-130"></i>
	                            </span>

	                            <span class="inverse">
	                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
	                            </span>
                        </div>

                        {# hiden dropdown tooltip for PDA views #}
                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown"
                                        data-position="auto">
                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
	                                            <span class="blue">
	                                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
	                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
	                                            <span class="green">
	                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
	                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
	                                            <span class="red">
	                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
	                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {# hiden tooltip #}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div><!-- PAGE CONTENT ENDS -->
{% endblock %} {# block content #}

{% block extra-modal %}
<div class="modal fade" id="preModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Beer Preview</h4>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    <div class="row col-xs-12">
                        <div class="col-xs-5" id="photo">
                            <a href="#" title="Photo Title" data-rel="colorbox">
                                <img width="200" height="200" alt="{{ beer.name }}" class="photo_preview"
                                     src=""/>
                            </a>

                        </div>
                        <div class="col-xs-4">
                            <p>
                                <strong>Name: </strong>
                                <span id="beer_name"> </span>
                            </p>

                            <p>
                                <strong>Brewery: </strong>
                                <span id="beer_brewery"> </span>
                            </p>

                            <p>
                                <strong>Locality: </strong>
                                <span id="beer_locality"> </span>
                            </p>

                            <p>
                                <strong>Description: </strong>
                                <span id="beer_description"> </span>
                            </p>
                        </div>
                        {# order form #}
                        {% if user.is_authenticated %}
                        <div class="col-xs-5">
                            <div class="input">
                                <p>
                                    <label for="username">Quantity:
                                        <input id="order_qty" type="number" name="quantity" min="1" max="1" value="1">
                                    </label>
                                    <input id="order_btn" class="btn btn-sm btn-success" value="Order" alt="order">
                                </p>
                            </div>
                        </div>
                        {% endif %}
                        {# !order form #}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {# block extra-modal #}

{% block extra-js %}

{# launch login modal on load page #}
{% if not user.is_authenticated %}
<script type="text/javascript">
    $(window).load(function () {
        $('#login').modal('show');
    });
</script>
{% endif %}

<script type="text/javascript">
    $(document).ready(function () {
        var modal = $('#preModal');

        var related_beer_id;
        var related_beer_name;
        var related_beer_qty;

        modal.on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            related_beer_id = button.data('beerid'); // Extract beer id from data-beerid attribute
            related_beer_name = button.data('name'); // Extract beer name from data-name attribute
            var brewery = button.data('brewery');
            var stock = button.data('stock');
            var locality = ('1' == button.data('locality')) ? 'Domestic' : 'International';
            var description = button.data('description');
            var slug = button.data('slug');
            var urlfoto = button.data('foto');

            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            // set val back to 1
            $(this).find('.modal-body #order_qty').val(1);
            $(this).find('.modal-title').text(related_beer_name);
            $(this).find('.modal-body #beer_name').text(related_beer_name);
            $(this).find('.modal-body #beer_brewery').text(brewery);
            $(this).find('.modal-body #beer_locality').text(locality);
            $(this).find('.modal-body #beer_description').text(description);
            $(this).find('.modal-body #order_qty').attr('max', stock);
            $(this).find('.modal-body .photo_preview').attr('src', urlfoto);
        });

        // event click
        modal.find('#order_btn').click(function (e) {
            // hide modal
            modal.modal('hide');
            // get beer qty
            related_beer_qty = modal.find('#order_qty').val();
            sentorder();
        });

        function sentorder() {
            $.post("{% url 'order_beer' %}", {
                beer_id: related_beer_id,
                beer_name: related_beer_name,
                beer_qty: related_beer_qty
            }).done(function (data) {
                // chart order instance node, from base.html
                var nav_order = $('#chart-nav');
                // initial chart item child's count
                var items_init = nav_order.find('#chart-items').children().length;
           		// is new order item invoke?
                var is_new_order = true;

                $.each(nav_order.find('#chart-items').children(), function (index, item) {
				    // reference to iterate chart items
				    if (item.getElementsByTagName('span')[2].innerHTML == data.beer_id) {
				       	var item_qty_init = parseInt(item.getElementsByTagName('span')[1].innerHTML);
				       	item.getElementsByTagName('span')[1].innerHTML = item_qty_init + parseInt(data.beer_qty)
				       	is_new_order = false;
				       	return false; // exit iteration
				    }        
				});

                if (is_new_order) {
                	var content = '' +
                	// list node for new beer order
                	'<li>' +
                		'<a href="#">' +
	                	'<div class="clearfix">' +
		                	'<span class="pull-left">' +
		                		'<i class="btn btn-xs no-hover btn-primary fa fa-beer"></i> ' +
		                		data.beer_name +
		                	'</span>' +
		                	'<span class="pull-right badge badge-info" id="order-beer-qty-' + 
		                		data.beer_id + '">' + data.beer_qty + 
		                	'</span>' +
		                	'<span class="order-beer-id" style="display: none">' + data.beer_id
		                	'</span>' +
	                	'</div>' +
	                	'</a>' +
                	'</li>';
                	// re-set order count, from base.html
                	nav_order.find('.chart-count').html(items_init+1);             
                	nav_order.find('#chart-items').append(content);
                	// show all order items anchor node
                	nav_order.find('#chart-all-items').show();
                }
            });
        }
    });

    jQuery(function ($) {
        var table = $('#dynamic-table');
        //initiate dataTables plugin
        var oTable1 = table
            //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                .dataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        {"bSortable": false},
                        null, null, null, null,
                        {"bSortable": false}
                    ],
                    "aaSorting": []

                    //,
                    //"sScrollY": "200px",
                    //"bPaginate": false,

                    //"sScrollX": "100%",
                    //"sScrollXInner": "120%",
                    //"bScrollCollapse": true,
                    //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                    //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                    //"iDisplayLength": 50
                });
        //oTable1.fnAdjustColumnSizing();

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try {
                    $(row).find('input[type=checkbox]').get(0).checked = true
                }
                catch (e) {
                }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try {
                    $(row).find('input[type=checkbox]').get(0).checked = false
                }
                catch (e) {
                }
            },

            "sSelectedClass": "success"
        });


        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }

        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold');

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
                .prependTo('.tableTools-container .btn-group')
                .attr('title', 'Show/hide columns').tooltip({container: 'body'});

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
                .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
                .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
                .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');


        /////////////////////////////////
        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        table.find('> thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        table.on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });


        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });


    })
</script>

<script src="/assets/js/dataTables/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables/jquery.dataTables.bootstrap.min.js"></script>
<script src="/assets/js/dataTables/dataTables.tableTools.min.js"></script>
<script src="/assets/js/dataTables/dataTables.colVis.min.js"></script>
{% endblock %} {# block extra-js #}