{% extends "beer/base.html" %}

{% block breadcrumb %}
<li>
    <i class="ace-icon fa fa-home home-icon"></i>
    <a href="{% url 'home' %}">Home</a>
</li>
<li class="active dropdown">
    <a href="{% url 'brewerys_all' %}">
        <i class="fa fa-fw fa-beer"></i> Brewery
    </a>
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="/beers"><i class="fa fa-fw fa-beer"></i> Beer</a>
        </li>
    </ul>
</li>
{% endblock %}

{% block content %}
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th width="30">#</th>
        <th>Brewery Name</th>
        <th>Total Beer</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for brewery in brewerys %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            <a href="/brewerys/{{ brewery.slug }}">{{ brewery }}</a>
        </td>
        <td>{{ brewerys|length }}</td>
        <td width=250>
            <a class="btn" href="#">test</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}