{% extends "beer/base.html" %}

{% block page-title %}{{ drinker.name }}{% endblock %}

{% block breadcrumb %}
<li>
    <i class="ace-icon fa fa-home home-icon"></i>
    <a href="{% url 'beers_all' %}">Home</a>
</li>
<li class="active">
    <i class="fa fa-fw fa-user"></i> Profile
</li>
{% endblock %}

{% block page-header %}
{{ drinker.name }}'s Profile
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div id="user-profile-1" class="user-profile row">
            <div class="col-xs-12 col-sm-3 center">
                <div>
					<span class="profile-picture">
					<img width="250" height="250" id="avatar" class="editable img-responsive" alt="Alex's Avatar"
                         src="/assets/images/avatar/niw.jpeg"/>
					</span>

                    <div class="space-4"></div>

                    <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                        <div class="inline position-relative">
                            <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                <i class="ace-icon fa fa-circle light-green"></i>
                                &nbsp;
                                <span class="white">{{ drinker.name }}</span>
                            </a>

                            <ul class="align-left dropdown-menu dropdown-caret dropdown-lighter">
                                <li class="dropdown-header"> Change Status</li>
                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-circle green"></i>
                                        &nbsp;
                                        <span class="green">Available</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-circle red"></i>
                                        &nbsp;
                                        <span class="red">Busy</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-circle grey"></i>
                                        &nbsp;
                                        <span class="grey">Invisible</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="space-6"></div>
                <div class="profile-contact-info">
                    <div class="profile-contact-links align-left">
                        <a href="#" class="btn btn-link">
                            <i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
                            Add as a friend
                        </a>

                        <a href="#" class="btn btn-link">
                            <i class="ace-icon fa fa-envelope bigger-120 pink"></i>
                            Send a message
                        </a>

                        <a href="#" class="btn btn-link">
                            <i class="ace-icon fa fa-globe bigger-125 blue"></i>
                            docs.ockifals.com
                        </a>
                    </div>

                    <div class="space-6"></div>

                    <div class="profile-social-links align-center">
                        <a href="#" class="tooltip-info" title="" data-original-title="Visit my Facebook">
                            <i class="middle ace-icon fa fa-facebook-square fa-2x blue"></i>
                        </a>

                        <a href="#" class="tooltip-info" title="" data-original-title="Visit my Twitter">
                            <i class="middle ace-icon fa fa-twitter-square fa-2x light-blue"></i>
                        </a>

                        <a href="#" class="tooltip-error" title="" data-original-title="Visit my Pinterest">
                            <i class="middle ace-icon fa fa-pinterest-square fa-2x red"></i>
                        </a>
                    </div>
                </div>

                <div class="hr hr12 dotted"></div>

                <div class="clearfix">
                    <div class="grid2">
                        <span class="bigger-175 blue">25</span>

                        <br/>
                        Followers
                    </div>

                    <div class="grid2">
                        <span class="bigger-175 blue">12</span>

                        <br/>
                        Following
                    </div>
                </div>

                <div class="hr hr16 dotted"></div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="center">
                    <span class="btn btn-app btn-sm btn-light no-hover">
                        <span class="line-height-1 bigger-170 blue"> 1,411 </span>

                        <br/>
                        <span class="line-height-1 smaller-90"> Views </span>
                    </span>

                    <span class="btn btn-app btn-sm btn-yellow no-hover">
                        <span class="line-height-1 bigger-170"> 32 </span>

                        <br/>
                        <span class="line-height-1 smaller-90"> Followers </span>
                    </span>

                    <span class="btn btn-app btn-sm btn-pink no-hover">
                        <span class="line-height-1 bigger-170"> 4 </span>

                        <br/>
                        <span class="line-height-1 smaller-90"> Projects </span>
                    </span>

                    <span class="btn btn-app btn-sm btn-grey no-hover">
                        <span class="line-height-1 bigger-170"> 23 </span>

                        <br/>
                        <span class="line-height-1 smaller-90"> Reviews </span>
                    </span>

                    <span class="btn btn-app btn-sm btn-success no-hover">
                        <span class="line-height-1 bigger-170"> 7 </span>

                        <br/>
                        <span class="line-height-1 smaller-90"> Albums </span>
                    </span>

                    <span class="btn btn-app btn-sm btn-primary no-hover">
                        <span class="line-height-1 bigger-170"> 55 </span>

                        <br/>
                        <span class="line-height-1 smaller-90"> Contacts </span>
                    </span>
                </div>

                <div class="space-12"></div>

                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Username</div>

                        <div class="profile-info-value">
                            <span class="editable" id="username">{{ drinker.user.username }}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Location</div>

                        <div class="profile-info-value">
                            <i class="fa fa-map-marker light-orange bigger-110"></i>
                            <span class="editable" id="city">Cikarang</span>
                            <span class="editable" id="province">Jawa Barat</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Email</div>

                        <div class="profile-info-value">
                            <i class="fa fa-email light-orange bigger-110"></i>
                            <span>{{ drinker.user.email }}</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> Age</div>

                        <div class="profile-info-value">
                            <span class="editable" id="age">18</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Joined</div>

                        <div class="profile-info-value">
                            <span id="signup">{{ drinker.user.date_joined }}</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> Last Online</div>

                        <div class="profile-info-value">
                            <span class="editable" id="login">{{ drinker.user.last_login }}</span>
                        </div>
                    </div>
                </div>

                <div class="space-20"></div>

                <div class="widget-box transparent">
                    <div class="widget-header widget-header-small">
                        <h4 class="widget-title blue smaller">
                            <i class="ace-icon fa fa-rss orange"></i>
                            Recent Activities
                        </h4>

                        <div class="widget-toolbar action-buttons">
                            <a href="#" data-action="reload">
                                <i class="ace-icon fa fa-refresh blue"></i>
                            </a>
                            &nbsp;
                            <a href="#" class="pink">
                                <i class="ace-icon fa fa-trash-o"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-8">
                            <div id="profile-feed-1" class="profile-feed">
                                <div class="profile-activity clearfix">
                                    <div>
                                        <img class="pull-left" alt="Alex Doe's avatar" src="/assets/images/avatar/niw.jpeg"/>
                                        <a class="user" href="#"> {{ drinker.name }} </a>
                                        changed his profile photo.
                                        <a href="#">Take a look</a>

                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            an hour ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
                                        <a class="user" href="#"> {{ drinker.name }} </a>

                                        logged in.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            12 hours ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="profile-activity clearfix">
                                    <div>
                                        <i class="pull-left thumbicon fa fa-power-off btn-inverse no-hover"></i>
                                        <a class="user" href="#"> {{ drinker.name }} </a>

                                        logged out.
                                        <div class="time">
                                            <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                            16 hours ago
                                        </div>
                                    </div>

                                    <div class="tools action-buttons">
                                        <a href="#" class="blue">
                                            <i class="ace-icon fa fa-pencil bigger-125"></i>
                                        </a>

                                        <a href="#" class="red">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr hr2 hr-double"></div>

                <div class="space-6"></div>

                <div class="center">
                    <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
                        <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
                        <span class="bigger-110">View more activities</span>

                        <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}