{% extends "beer/base.html" %}

{% block breadcrumb %}
<li>
    <i class="ace-icon fa fa-home home-icon"></i>
    <a href="{% url 'home' %}">Home</a>
</li>
<li class="active dropdown">
    <a href="/beers/"><i class="fa fa-fw fa-beer"></i> Beer</a>
    <a class="dropdown-toggle" href="#" data-toggle="dropdown"><b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="/brewerys"><i class="fa fa-fw fa-beer"></i> Brewery</a>
        </li>
    </ul>
</li>
<li class="active">{{ beer.name }}</li>

{% endblock %}

{% block content %}
<div class="widget-box">
    <div class="widget-header widget-header-blue widget-header-flat">
        <h4 class="widget-title lighter">{{ beer.name }}</h4>
    </div>
    <div class="clearfix">
        <div class="row col-xs-12">
            <div class="col-xs-2">
                {% if beer.foto %}
                <a href="/assets/images/beer/{{ beer.brewery.slug }}/{{ beer.foto }}" title="Photo Title" data-rel="colorbox">
                    <img width="200" height="200" alt="{{ beer.name }}" src="/assets/images/beer/{{ beer.brewery.slug }}/{{ beer.foto }}"/>
                </a>
                {% else %}
                <a href="#" title="Photo Title" data-rel="colorbox">
                    <img width="200" height="200" alt="{{ beer.name }}" src="/assets/images/beer/beer-default.jpg"/>
                </a>
                {% endif %}
            </div>
            <div class="col-xs-6">
                <p>
                    <strong>Name: </strong>
                    {{ beer.name }}
                </p>
                <p>
                    <strong>Brewery: </strong>
                    {{ beer.brewery }}
                </p>
                <p>
                    <strong>Locality: </strong>
                    {{ beer.get_locality_display }}
                </p>
                <p>
                    <strong>Description: </strong>
                    {{ beer.description }}
                </p>
            </div>
        </div>
        <a class="btn" href="/beers/">Back</a>
    </div>
</div>
{% endblock %}